/* Making the font available at the top */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Bradley+Hand&display=swap');

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif; /* Updated font-family */
    font-size: 22px; /* Updated font-size */
    margin: 0; /* Simple Reset */
    padding: 0; /* Simple Reset */
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: rgba(20, 30, 13, 0.85);
    padding: 10px 0;
}

#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
}

#hero-img {
    display: block;
    width: 100%;
    height: auto;
}

#hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif; /* Updated font-family */
    color: #333333;
    font-size: 2em; /* Updated font-size */
    margin-top: 10px; /* Adding margin */
}

nav a {
    display: inline-block;
    padding: 35px; /* Updated padding */
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    transition: all 0.3s;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
    border-radius: 5px;
}

h4 {
    color: #777777;
    font-size: 1.4em;
}

.button-box, main section {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    width: 80px;
    padding-top: 10px; /* Updated padding */
}

#background {
    height: 725px;
    background-color: #e5edf2;
}

.msg {
    background-color: #f9f9f9;
    padding: 35px; /* Updated padding */
    line-height: 1.5em; /* Adjusted line height */
}

.msg p {
    font-size: 0.8em; /* Updated font-size */
    padding-bottom: 15px; /* Updated padding */
}

footer {
    background-color: #2a2a2a;
    padding: 25px 50px; /* Updated padding */
    margin-top: 200px; /* Updated margin */
}

footer a {
    color: #d9c2a3;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
    color: #b0b0b0;
}

.book, .join {
    display: inline-block;
    padding: 15px 30px; /* Updated padding */
    background-color: #6c757d;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px; /* Updated font-size */
    border-radius: 5px; /* Added border-radius */
    margin-top: 50px; /* Updated margin */
    transition: background-color 0.3s;
}

.book:hover, .join:hover {
    background-color: #5a6268;
    color: #ffffff;
}

.card-img {
    border: 10px solid #2A3D5A; /* Deep blue color for a modern touch */
}

main section img {
    box-sizing: border-box; /* Making sure border is considered in the size */
}

h2 {
    margin: 0; /* Simple Reset */
}
